.footer-section {
    width: 100%;
    background-color: #262626;
    &__flex-container {
    	display: flex;
    	justify-content: space-between;	
    }
    &__flex-container-copyright {
    	width: 271px;
    	height: 45px;
        margin-left: 70px;
    }
    &__flex-container-logo {
    	width: 45px;
    	height: auto;
    }
    &__flex-container-madewithlove {
    	width: 271px;
    	height: 45px;
        margin-left: 160px;
    }
    &__paragraph {
    	color: #4d4d4d;
        font-family: 'ralewaylight';
    	font-size: 16px;
    }
    &__text {
       color: #4d4d4d;
       font-family: 'ralewaylight';
       font-size: 16px;
    }
    &__img {
    	width: 100%;
        height: auto;
    	margin-top: 15px;
    }
    &__span {
    	color: #ff2b58;
    	font-family: sans-serif;
    	font-size: 16px;	
    }
}