.gallery-section {
    width: 100%;
    background-color: #ffe92f;
    padding-top: 50px;
    padding-bottom: 118px;
    padding-right: 50px;
    padding-left: 50px;
    &__details {
        width: 100%;
        margin: 0 auto;
    }
    &__details-h-two {
        color: #262626;
        font-family: 'ralewaybold';
        font-size: 90px;
        text-align: center;
        margin-bottom: 5px;
    }
    &__details-paragraph {
        color: #262626;
        font-family: 'ralewaylight';
        font-size: 17px;
        line-height: 25px;
        text-align: center;
    }
    &__flex-container {
        display: flex;
        flex-wrap: wrap;
        max-width: 100%;
        justify-content: center;
    }
    &__flex-container-first-box {
        display: flex;
        width: 55%;
        height: auto;
        margin: 15px;
        -webkit-box-shadow: 1px 2px 24px -3px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 1px 2px 24px -3px rgba(0, 0, 0, 0.75);
        box-shadow: 1px 2px 24px -3px rgba(0, 0, 0, 0.75);
    }
    &__flex-container-second-box {
        display: flex;
        flex-wrap: wrap;
        width: 37%;
        height: auto;
        margin: 15px;
        &--first-square {
            flex-basis: 100%;            
            height: auto;
            margin-bottom: 15px;
            -webkit-box-shadow: 1px 2px 24px -3px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 1px 2px 24px -3px rgba(0, 0, 0, 0.75);
            box-shadow: 1px 2px 24px -3px rgba(0, 0, 0, 0.75);
        }
        &--second-square {
            flex-basis: 100%;
            height: 262px;
            margin-top: 15px;
            -webkit-box-shadow: 1px 2px 24px -3px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 1px 2px 24px -3px rgba(0, 0, 0, 0.75);
            box-shadow: 1px 2px 24px -3px rgba(0, 0, 0, 0.75);
        }
    }
    &__flex-container-third-box {
        width: 46%;
        height: auto;
        margin-right: 15px;
        margin: 15px;
        -webkit-box-shadow: 1px 2px 24px -3px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 1px 2px 24px -3px rgba(0, 0, 0, 0.75);
        box-shadow: 1px 2px 24px -3px rgba(0, 0, 0, 0.75);
    }
    &__flex-container-forth-box {
        width: 46%;
        height: auto;
        margin: 15px;
        -webkit-box-shadow: 1px 2px 24px -3px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 1px 2px 24px -3px rgba(0, 0, 0, 0.75);
        box-shadow: 1px 2px 24px -3px rgba(0, 0, 0, 0.75);
    }
    &__images {
        width: 100%;
        height: 100%;
    }
    &__div-for-button {
        width: 200px;
        height: 56px;
        margin: 0 auto;
    }
    &__button {
        width: 200px;
        height: 56px;
        color: #ffffff;
        background-color: #5585a2;
        font-family: 'ralewaylight';
        font-size: 20px;
        margin-top: 50px;
        border: none;
        outline: none;
        -webkit-box-shadow: 1px 2px 24px -3px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 1px 2px 24px -3px rgba(0, 0, 0, 0.75);
        box-shadow: 1px 2px 24px -3px rgba(0, 0, 0, 0.75);
        &:hover {
            color: #5585a2;
            background-color: transparent;
            border: 2px solid #5585a2;
        }
    }
}

// Media Queries
// tablets
@media screen and (max-width: 768px) {
 .gallery-section {
    &__flex-container {
        display: flex;
        flex-wrap: wrap;
        flex-basis: 100%;
        max-width: 1170px;
        justify-content: center;
    }
    &__flex-container-first-box {
        display: flex;
        width: 55%;
        margin: 15px; 
        }
        &__flex-container-second-box {
        display: flex;
        width: 35%;
        margin: 15px;
        &--first-square {
            flex-basis: 100%;
            height: 262px;
            margin-bottom: 15px;
        }
        &--second-square {
            flex-basis: 100%;
            height: 262px;
            margin-top: 15px;
        }
    }
    &__flex-container-third-box {
        width: 45%;
        height: 401px;
        margin-right: 15px;
        margin: 15px;
    }
    &__flex-container-forth-box {
        width: 45%;
        height: 401px;
        margin: 15px;
    }
 }  
}
// mobiles
@media screen and (max-width: 480px) {}