.subscribe-section {
    width: 1200px;
    height: 500px;
    flex-grow: 1;
    flex-shrink: 1;
    background-image: url(../images/subscribebg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    &__ditails {
    	width: 570px;
    	height: 130px;
    	margin-top: 140px;
    }
    &__ditails-h-two {
    	color: #262626;
    	font-size: 40px;
    	font-family: 'Raleway', sans-serif;
    }
    &__ditails-paragraph {
    	color: #262626;
    	font-size: 17px;
    	font-family: 'Raleway', sans-serif;
    }
    &__form {
    	
    }
    &__email-input {
    	width: 570px;
    	height: 55px;
    	outline: none;
    	margin-top: 31px;
    	padding-left: 15px;
    	border: 1px solid #262626;
    	margin-right: 15px;
    }
    &__submit-input {
    	width: 170px;
    	height: 55px;
    	color: #ffffff;
    	background: #96b92c;
    	font-size: 20px;
    	font-family: 'Raleway', sans-serif;
    	outline: none;
    	border: none;
    	&:hover {
    		color: #96b92c;
    		background: transparent;
    		border: 2px solid #96b92c;
    	}
    }
}